#lii{
		margin-left: 250px;
			}
.nev{
		display: inline;
		align-content:  right;
		padding: 5;
		margin-right: 100;
		display: block;
		text-align: center;
		float: left;
		padding: 25px;
		font-family: verdana;
		font-size: 20px;}	
li a:hover{
	

	font-size: 23px ;
	transition: 0.5s;
	
	
}
li a{
	text-decoration: none;
	color: black;
	

}
#btn{
	border-radius: 12px;
	padding: 10px;
	font-size: 20px;
	font-family: verdana;
}
#txt,#txt1,#txt2,#txt3,#txt4,#txt5,#txt6,#txt7,#txt8,#txt9,#txt10{
	width: 150px;
	height: 30px;
	border-radius: 12px;
	color: darkgrey;
}
#txt6,#txt7,#txt8,#txt9,#txt10{
	width: 250px;
	height: 33x;
	border-radius: 12px;
	color: darkgrey;
}


#tx{
	width: 80px;
	height: 30px;
	border-radius: 12px;
	color: darkgray;
}
#t{
	width: 400px;
	height: 40px;
	border-radius: 12px;
	color: darkgray;
	margin-left: 5%;
}
#send{
	margin-left: 20%;
	width: 100px;
	height: 40px;
	border-radius: 12px;
	box-shadow: 16px 16px 10px #444;
}
#form{
	text-align: center;
	width: 500px;
	height: 400px;
	background: rgba(0, 0, 0,0,8);
	backdrop-filter: blur(10px);
	color: white;
	display: flex;
	margin-left: 30%;
	padding: 10px 10px 10px 10px;
}
#bdy{
	min-height: 100vh;
	background-image: url("../Assets/Images/NW1.jpg");
	background-size: cover;
	
	
}
#fbody{
	background-image: url("../Assets/Images/ll.jpg");
}

.bodyd{
	background-image: url("../Assets/Images/bgggg.jpg");
	background-repeat: repeat-y;
	background-size: cover;
	background-position-x: 0cap;
	height: auto;
	
}


.div2{
	
	
	border: 1px solid #333;
  	box-shadow: 16px 16px 10px #444;
	padding: 30px 30px 30px 30px; 
	margin-left: 10%;
	width: 70%;
	transition:padding 0.2s linear;



}
.div2:hover{
	padding: 90px 90px 90px 90px;
}
.divh{
	border: 1px solid #333;
  	box-shadow: 16px 16px 10px #444;
	padding: 30px 30px 30px 30px; 
	width: 70%; 
	margin-left: 10%;
	transition: padding 0.2S linear;

}
.divh:hover{
	padding: 90px 90px 90px 90px;
}
#l1{
	font-size: 28px;
	color: aliceblue;
	
}
#tx1,#tx2,#tx3{
	height: 30px;
	width: 220px;
	box-shadow: 16px 16px 10px #010101;;
}