*{
    margin: 0px;
    padding: 0px;
}

.background1{
    position: relative;
}

.background1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../Assets/Images/Home_bg_img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.75; 
}

.container1{
    position: relative;
    width: 50%;
    height: 80vh;
    margin-left: 8.33%;
    margin-top: 10%;
}

.container1 h1{
    font-family: 'Lobster', cursive;
    font-size: 4vw;
}

.container1 p{
    font-family: 'Lobster', cursive;
    font-size: 3vw;
    margin-top: 20%;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    
}

.container1 button{
    margin-top: 5%;
    border-radius: 10px;
    font-size: 2vw;
    cursor: pointer;
}

.container1 button:hover{
    background-color: #dbdbdb;
    border: 2px solid black;
    transition: 0.5s;
}

@media only screen and (max-width:768px){
    .container1 p{
        font-size: 3.5vw;
        margin-top: 40%;;
    }
}

